# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PBO2\P02b\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
